.container {
  text-align: center;
  background-color: '#0000';
}

.sub_container {
    display: inline-block;
    width:320px;
    height:550px;
    padding: 30px;
    background-color: black;
    border-radius: 25px;
}

.screen_calculator {
  width:320px;
  height:120px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 15px;
  font-size: 50px;
  text-align: end;
}
.calculator {
  max-width: 310px;
}

.result {
  max-width: 310px;
}